.info {
  margin-top: 50px;
}
.info__wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "bulb us" "price printer" "books promise";
  text-align: center;
  align-items: center;
}

.bulb {
  grid-area: "bulb";
  text-align: center;
}
.info__us {
  grid-area: "us";
}
.info__whatprice {
  grid-area: "price";
}
.printer {
  grid-area: "printer";
}
.books {
  grid-area: "books";
}
.info__promise {
  grid-area: "promise";
}

.info__tilte {
  font-family: "Roboto";
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  color: $maincolor;
  margin-left: 150px;
}

@media (max-width: 676px) {
  .info__tilte {
    font-size: 30px;
    line-height: 32px;
    margin: 60px;
  }
}
@media (max-width: 425px) {
  .info__tilte {
    font-size: 22px;
    line-height: 29px;
    margin: 0;
  }
}
.info__subtitle {
  font-family: "Balsamiq Sans";
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  color: $maincolor;
}
@media (max-width: 900px) {
  .info__subtitle {
    font-size: 22px;
    line-height: 22px;
  }
}
@media (max-width: 676px) {
  .info__subtitle {
    font-size: 18px;
    line-height: 18px;
  }
}
@media (max-width: 425px) {
  .info__subtitle {
    font-size: 17px;
    line-height: 18px;
  }
}
.info__text {
  font-family: "Balsamiq Sans";
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  margin-top: 35px;
}
@media (max-width: 900px) {
  .info__text {
    font-size: 21px;
    line-height: 21px;
  }
}
@media (max-width: 676px) {
  .info__text {
    font-size: 18px;
    line-height: 18px;
  }
}
@media (max-width: 425px) {
  .info__text {
    font-size: 16px;
    line-height: 17px;
    margin-top: 10px;
  }
}

@media (max-width: 1060px) {
  .content__img {
    width: 40vw;
  }
}
@media (max-width: 425px) {
  .content__img {
    width: 115px;
    height: 100px;
  }
}
.info__us {
  position: relative;
  margin-top: 40px;
}

.info__us::before {
  content: "";
  position: absolute;
  background: url("../img/svg/firstarrow.svg") center no-repeat;
  width: 150px;
  height: 150px;
  left: 0;
  top: -150px;
}
@media (max-width: 425px) {
  .info__us::before {
    background: url("../img/info/miniarrowfirst.png") center no-repeat;
    width: 40px;
    height: 40px;
    top: -45px;
    left: 50px;
  }
}
.info__whatprice {
  position: relative;
}
.info__whatprice::before {
  content: "";
  position: absolute;
  background: url("../img/svg/secondarrow.svg") center no-repeat;
  width: 150px;
  height: 150px;
  right: -100px;
  top: -200px;
}
@media (max-width: 425px) {
  .info__whatprice::before {
    background: url("../img/info/miniarrowsecond.png") center no-repeat;
    width: 40px;
    height: 40px;
    top: -30px;
    right: -15px;
  }
}
.info__promise {
  position: relative;
}
.info__promise::before {
  content: "";
  position: absolute;
  background: url("../img/svg/thirdarrow.svg") center no-repeat;
  width: 150px;
  height: 150px;
  left: 0;
  top: -200px;
}
@media (max-width: 425px) {
  .info__promise::before {
    background: url("../img/info/miniarrowfirst.png") center no-repeat;
    width: 40px;
    height: 40px;
    top: -50px;
    left: -20px;
  }
}
