$btn-lgradient: linear-gradient(180deg, #ffcce4 0%, rgba(255, 255, 255, 0) 100%),
  #fa97c6;

$btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
  inset 0px 4px 4px rgba(0, 0, 0, 0.25);

$maincolor: #fa97c6;

$reviewesgradient: linear-gradient(
  179.05deg,
  rgba(250, 151, 198, 0.25) 0.81%,
  rgba(158, 206, 210, 0) 17.22%
);
